/* DEFINES_COLORS */
#vt100 .ansi0               {                            }
#vt100 .ansi1               { color:            #f27779; }
#vt100 .ansi2               { color:            #99cc99; }
#vt100 .ansi3               { color:            #ffcc66; }
#vt100 .ansi4               { color:            #6699cc; }
#vt100 .ansi5               { color:            #cc99cc; }
#vt100 .ansi6               { color:            #66cccc; }
#vt100 .ansi7               { color:            #fffefe; }
#vt100 .ansi8               { color:            #000000; }
#vt100 .ansi9               { color:            #f17779; }
#vt100 .ansi10              { color:            #99cc99; }
#vt100 .ansi11              { color:            #ffcc66; }
#vt100 .ansi12              { color:            #6699cc; }
#vt100 .ansi13              { color:            #cc99cc; }
#vt100 .ansi14              { color:            #66cccc; }
#vt100 .ansi15              { color:            #ffffff; }

#vt100 .bgAnsi0             { background-color: #000000; }
#vt100 .bgAnsi1             { background-color: #f27779; }
#vt100 .bgAnsi2             { background-color: #99cc99; }
#vt100 .bgAnsi3             { background-color: #ffcc66; }
#vt100 .bgAnsi4             { background-color: #6699cc; }
#vt100 .bgAnsi5             { background-color: #cc99cc; }
#vt100 .bgAnsi6             { background-color: #66cccc; }
#vt100 .bgAnsi7             { background-color: #fffefe; }
#vt100 .bgAnsi8             { background-color: #000000; }
#vt100 .bgAnsi9             { background-color: #f17779; }
#vt100 .bgAnsi10            { background-color: #99cc99; }
#vt100 .bgAnsi11            { background-color: #ffcc66; }
#vt100 .bgAnsi12            { background-color: #6699cc; }
#vt100 .bgAnsi13            { background-color: #cc99cc; }
#vt100 .bgAnsi14            { background-color: #66cccc; }
#vt100 .bgAnsi15            {                            }
